.home{
    background: #000000;
    padding: 30px;
    box-sizing: border-box;
    color: #ffffff;
}
.main-sec{
    margin-top: 40px;
}
.tabname{
    background: transparent;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 15px;
    margin-right: 10px;
}
.tabname:hover{
    background: #ffffff;
    transition: 0.2s all linear;
    color: #121212;
    cursor: pointer;
}
.split-sections{
    margin-top: 30px;
}